<div id="pages-privacy">
	<div class="container">
		<h2>Privacy Policy</h2>
		
		<p>Your privacy is critically important to us. At DriverFlex, we have a few fundamental principles:</p>

		<p>We are thoughtful about the personal information we ask you to provide and the personal information that we collect about you through the operation of our services.</p>

		<p>We store personal information for only as long as we have a reason to keep it.</p>

		<p>We aim to make it as simple as possible for you to control what information on your website is shared publicly (or kept private), indexed by search engines, and permanently deleted.</p>

		<p>We help protect you from overreaching government demands for your personal information.</p>

		<p>We aim for full transparency on how we gather, use, and share your personal information.</p>

		<p>Below is DriverFlex's privacy policy, which incorporates and clarifies these principles.</p>

		<h5>Who We Are and What This Policy Covers.</h5>

		<p>Howdy! We are the folks behind a service designed to allow professional drivers to earn bonuses for driving with Uber and Lyft. This Privacy Policy applies to information that we collect about you when you use our website DriverFlex.com.</p>

		<p>Throughout this Privacy Policy we'll refer to our website and other products and services collectively as “Services.”</p>

		<p>Below we explain how we collect, use, and share information about you, along with the choices that you have with respect to that information.</p>

		<p>Please note that this Privacy Policy does not apply to any of our products or services that have a separate privacy policy.</p>

		<p>If you have any questions about this Privacy Policy, please contact us.</p>

		<h5>Information We Collect.</h5>

		<p>We only collect information about you if we have a reason to do so–for example, to provide our Services, to communicate with you, or to make our Services better.</p>

		<p>We collect information in two ways: if and when you provide information to us and automatically through operating our services. Let's go over the information that we collect.</p>

		<h5>Information You Provide to Us.</h5>

		<p>It's probably no surprise that we collect information that you provide to us. The amount and type of information depends on the context and how we use the information. Here are some examples:</p>

		<p>Basic Account Information: We ask for basic information from you in order to set up your account. For example, we require individuals who sign up for a DriverFlex.com account to provide a phone number and email address.</p>

		<p>Communications with Us (Hi There!): You may also provide us information when you respond to surveys, communicate with our Happiness Engineers about a support question, or post a question about your site in our public forums.</p>

		<h5>Information We Collect Automatically.</h5>

		<p><b>Log Information</b>: Like most online service providers, we collect information that web browsers, mobile devices, and servers typically make available, such as the browser type, IP address, unique device identifiers, language preference, referring site, the date and time of access, operating system, and mobile network information. We collect log information when you use our Services–for example, when you create or make changes to your website on DriverFlex.com.</p>

		<p><b>Usage Information</b>: We collect information about your usage of our Services. For example, we collect information about the actions that site administrators and users perform on a site–in other words, who did what, when and to what thing on a site. We also collect information about what happens when you use our Services (e.g., page views, button clicks) along with information about your device (e.g., mobile screen size, name of cellular network, and mobile device manufacturer). We use this information to, for example, provide our Services to you, as well as get insights on how people use our Services, so we can make our Services better.</p>

		<p><b>Location Information</b>: We may determine the approximate location of your device from your IP address. We collect and use this information to, for example, calculate how many people visit our Services from certain geographic regions. We may also collect information about your precise location via our mobile apps (when, for example, you post a photograph with location information) if you allow us to do so through your mobile device operating system's permissions.</p>

		<p><b>Stored Information</b>: We may access information stored on your mobile device via our mobile app. We access this stored information through your device operating system's permissions.  For example, if you give us permission to access the photographs on your mobile device's camera roll, our Services may access the photos stored on your device when you upload a really amazing photograph of the sunrise to your website.</p>

		<p><b>Information from Cookies &amp; Other Technologies</b>: A cookie is a string of information that a website stores on a visitor's computer, and that the visitor's browser provides to the website each time the visitor returns. Pixel tags (also called web beacons) are small blocks of code placed on websites and e-mails. DriverFlex uses cookies and other technologies like pixel tags to help us identify and track visitors, usage, and access preferences for our Services, as well as track and understand e-mail campaign effectiveness and to deliver targeted ads. For more information about our use of cookies and other technologies for tracking, including how you can control the use of cookies, please see here for information on DriverFlex.com and here for information on Jetpack.</p>


		<h5>How We Use Information.</h5>

		<ul>
			<li>To provide our Services–for example, to set up and maintain your account;</li>
			<li>To further develop our Services–for example by adding new features that we think our users will enjoy or will help them to create and manage their websites more efficiently;</li>
			<li>To monitor and analyze trends and better understand how users interact with our Services, which helps us improve our Services and make them easier to use;</li>
			<li>To monitor and protect the security of our Services, detect and prevent fraudulent transactions and other illegal activities, fight spam, and protect the rights and property of DriverFlex and others;</li>
			<li>To communicate with you about offers and promotions offered by DriverFlex and others we think will be of interest to you, solicit your feedback, or keep you up to date on DriverFlex and our products; and</li>
			<li>To personalize your experience using our Services, provide content recommendations and serve relevant advertisements.</li>
		</ul>

		<h5>Sharing Information.</h5>

		<p>We do not sell our users' private personal information.</p>

		<p>We share information about you in the limited circumstances spelled out below and with appropriate safeguards on your privacy:</p>

		<p><b>Subsidiaries, Employees, and Independent Contractors</b>: We may disclose information about you to our subsidiaries, our employees, and individuals who are our independent contractors that need to know the information in order to help us provide our Services or to process the information on our behalf. We require our subsidiaries, employees, and independent contractors to follow this Privacy Policy for personal information that we share with them.</p>

		<p><b>Third Party Vendors</b>: We may share information about you with third party vendors who need to know information about you in order to provide their services to us. This group includes vendors that help us provide our Services to you (like payment providers that process your credit and debit card information) and those that help us understand and enhance our Services (like analytics providers). We require vendors to agree to privacy commitments in order to share information with them.</p>
		
		<p><b>As Required by Law</b>: We may disclose information about you in response to a subpoena, court order, or other governmental request. For more information on how we respond to requests for information about DriverFlex.com users, please see our Legal Guidelines.</p>

		<p><b>To Protect Rights and Property</b>: We may disclose information about you when we believe in good faith that disclosure is reasonably necessary to protect the property or rights of DriverFlex, third parties, or the public at large. For example, if we have a good faith belief that there is an imminent danger of death or serious physical injury, we may disclose information related to the emergency without delay.</p>

		<p><b>Business Transfers</b>: In connection with any merger, sale of company assets, or acquisition of all or a portion of our business by another company, or in the unlikely event that DriverFlex goes out of business or enters bankruptcy, user information would likely be one of the assets that is transferred or acquired by a third party. If any of these events were to happen, this Privacy Policy would continue to apply to your information and the party receiving your information may continue to use your information, but only consistent with this Privacy Policy.</p>

		<p><b>With Your Consent</b>: We may share and disclose information with your consent or at your direction. For example, we may share your information with third parties with which you authorize us to do so.</p>

		<p><b>Aggregated and De-Identified Information</b>: We may share information that has been aggregated or reasonably de-identified, so that the information could not reasonably be used to identify you. For instance, we may publish aggregate statistics about the use of our Services.</p>

		<p><b>Published Support Requests</b>: And if you send us a request (for example, via a support email or one of our feedback mechanisms), we reserve the right to publish that request in order to help us clarify or respond to your request or to help us support other users.</p>

		<h5>Security.</h5>

		<p>While no online service is 100% secure, we work very hard to protect information about you against unauthorized access, use, alteration, or destruction, and take reasonable measures to do so.</p>

		<h5>Transferring Information.</h5>

		<p>DriverFlex is a worldwide service. By accessing or using the Services or otherwise providing information to us, you consent to the processing, transfer, and storage of information in and to the U.S. and other countries, which may have rights and protections that are different from those in your home country.</p>

		<h5>Third Party Software.</h5>

		<p>If you'd like to use third party software like plugins with our Services, please keep in mind that when you interact with them you may provide information about yourself to those third parties. We don't own or control these third parties and they have their own rules about collection, use and sharing of information. You should review their rules and policies when installing and using third party software.</p>

		<h5>Privacy Policy Changes.</h5>

		<p>Although most changes are likely to be minor, DriverFlex may change its Privacy Policy from time to time. DriverFlex encourages visitors to frequently check this page for any changes to its Privacy Policy. If we make changes, we will notify you by revising the change log below, and, in some cases, we may provide additional notice (such as adding a statement to our homepage or sending you a notification through e-mail or your dashboard). If you have a DriverFlex.com account, you should also check your dashboard for alerts to these changes. Your continued use of the Services after any change in this Privacy Policy will constitute your consent to such change.</p>
	</div>
</div>
