<div id="pages-terms">
	<h2 class="mobile-header">Terms and Conditions</h2>
	<div class="container">
		<h2>Terms and Conditions</h2>

		<p>The following terms and conditions (“Terms”) govern all use of the DriverFlex.com website and all content, services, and products. Our Services are offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation, DriverFlex's Privacy Policy) and procedures that may be published from time to time by DriverFlex (collectively, the “Agreement”). You agree that we may automatically upgrade our Services, and these Terms will apply to any upgrades.</p>

		<p>Please read this Agreement carefully before accessing or using our Services. By accessing or using any part of our Services, you agree to become bound by the Terms of this Agreement. If you do not agree to all the Terms of this Agreement, then you may not access or use any of our Services. If these Terms are considered an offer by DriverFlex, acceptance is expressly limited to these Terms.</p>

		<p>Our Services are not directed to children younger than 18, and access and use of our Services is only offered to users 18 years of age or older. If you are under 18 years old, please do not register to use our Services. Any person who registers as a user or provides their personal information to our Services represents that they are 18 years of age or older.</p>

		<p>Use of our Services requires a DriverFlex.com account. You agree to provide us with complete and accurate information when you register for an account. You will be solely responsible and liable for any activity that occurs under your username. You are responsible for keeping your password secure.</p>

		<h5>Your DriverFlex.com Account. </h5>

		<p>If you create an account on DriverFlex.com, you are responsible for maintaining the security of your account, and you are fully responsible for all activities that occur under the account and any other actions taken in connection with the account. You must immediately notify DriverFlex of any unauthorized uses of your  account, or any other breaches of security. DriverFlex will not be liable for any acts or omissions by you, including any damages of any kind incurred as a result of such acts or omissions.</p>

		<p>You are responsible for resolving all support questions, comments, and complaints, including refunds, chargebacks, or pricing questions. You should provide contact information so that we may contact you with questions.</p>

		<h5>Copyright Infringement and DMCA Policy.</h5>

		<p>As DriverFlex asks others to respect its intellectual property rights, it respects the intellectual property rights of others. If you believe that material located on or linked to by DriverFlex.com violates your copyright, you are encouraged to notify DriverFlex in accordance with DriverFlex’s Digital Millennium Copyright Act (“DMCA”) Policy. DriverFlex will respond to all such notices, including as required or appropriate by removing the infringing material or disabling all links to the infringing material. DriverFlex will terminate a visitor’s access to and use of the website if, under appropriate circumstances, the visitor is determined to be a repeat infringer of the copyrights or other intellectual property rights of DriverFlex or others. In the case of such termination, DriverFlex will have no obligation to provide a refund of any amounts previously paid to DriverFlex.</p>

		<h5>Intellectual Property.</h5>

		<p>This Agreement does not transfer from DriverFlex to you any DriverFlex or third party intellectual property, and all right, title, and interest in and to such property will remain (as between the parties) solely with DriverFlex. DriverFlex, DriverFlex, DriverFlex.com, the DriverFlex.com logo, and all other trademarks, service marks, graphics and logos used in connection with DriverFlex.com or our Services, are trademarks or registered trademarks of DriverFlex or DriverFlex’s licensors. Other trademarks, service marks, graphics and logos used in connection with our Services may be the trademarks of other third parties. Your use of our Services grants you no right or license to reproduce or otherwise use any DriverFlex or third-party trademarks.</p>

		<h5>Changes.</h5>

		<p>We are constantly updating our Services, and that means sometimes we have to change the legal terms under which our Services are offered. If we make changes that are material, we will let you know by posting on one of our blogs, or by sending you an email or other communication before the changes take effect. The notice will designate a reasonable period of time after which the new terms will take effect. If you disagree with our changes, then you should stop using our Services within the designated notice period. Your continued use of our Services will be subject to the new terms. However, any dispute that arose before the changes shall be governed by the Terms (including the binding individual arbitration clause) that were in place when the dispute arose.</p>

		<h5>Termination.</h5>

		<p>DriverFlex may terminate your access to all or any part of our Services at any time, with or without cause, with or without notice, effective immediately. If you wish to terminate this Agreement or your DriverFlex.com account (if you have one), you may simply discontinue using our Services. All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability. </p>

		<h5>Disclaimer of Warranties.</h5>

		<p>Our Services are provided “as is.” DriverFlex and its suppliers and licensors hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement. Neither DriverFlex nor its suppliers and licensors, makes any warranty that our Services will be error free or that access thereto will be continuous or uninterrupted. If you’re actually reading this, here’s a treat. You understand that you download from, or otherwise obtain content or services through, our Services at your own discretion and risk.</p>

		<h5>Jurisdiction and Applicable Law.</h5>

		<p>Except to the extent applicable law, if any, provides otherwise, this Agreement, any access to or use of our Services will be governed by the laws of the state of California, U.S.A., excluding its conflict of law provisions, and the proper venue for any disputes arising out of or relating to any of the same will be the state and federal courts located in San Francisco County, California.</p>

		<h5>Arbitration Agreement.</h5>

		<p>Except for claims for injunctive or equitable relief or claims regarding intellectual property rights (which may be brought in any competent court without the posting of a bond), any dispute arising under this Agreement shall be finally settled in accordance with the Comprehensive Arbitration Rules of the Judicial Arbitration and Mediation Service, Inc. (“JAMS”) by three arbitrators appointed in accordance with such Rules. The arbitration shall take place in San Francisco, California, in the English language and the arbitral decision may be enforced in any court. The prevailing party in any action or proceeding to enforce this Agreement shall be entitled to costs and attorneys’ fees.</p>

		<h5>Limitation of Liability.</h5>

		<p>In no event will DriverFlex, or its suppliers or licensors, be liable with respect to any subject matter of this Agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement for substitute products or services; (iii) for interruption of use or loss or corruption of data; or (iv) for any amounts that exceed the fees paid by you to DriverFlex under this Agreement during the twelve (12) month period prior to the cause of action. DriverFlex shall have no liability for any failure or delay due to matters beyond their reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.</p>

		<h5>General Representation and Warranty.</h5>

		<p>You represent and warrant that (i) your use of our Services will be in strict accordance with the DriverFlex Privacy Policy, with this Agreement, and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the United States or the country in which you reside) and (ii) your use of our Services will not infringe or misappropriate the intellectual property rights of any third party.</p>

		<h5>US Economic Sanctions.</h5>

		<p>You expressly represent and warrant that your use of our Services and or associated services and products is not contrary to applicable U.S. Sanctions. Such use is prohibited, and DriverFlex reserves the right to terminate accounts or access of those in the event of a breach of this condition.</p>

		<h5>Indemnification.</h5>

		<p>You agree to indemnify and hold harmless DriverFlex, its contractors, and its licensors, and their respective directors, officers, employees, and agents from and against any and all claims and expenses, including attorneys’ fees, arising out of your use of our Services, including but not limited to your violation of this Agreement.</p>

		<h5>Translation.</h5>

		<p>These Terms of Service were originally written in English (US). We may translate these terms into other languages. In the event of a conflict between a translated version of these Terms of Service and the English version, the English version will control.</p>

		<h5>Miscellaneous.</h5>

		<p>This Agreement constitutes the entire agreement between DriverFlex and you concerning the subject matter hereof, and they may only be modified by a written amendment signed by an authorized executive of DriverFlex, or by the posting by DriverFlex of a revised version.</p>

		<p>If any part of this Agreement is held invalid or unenforceable, that part will be construed to reflect the parties’ original intent, and the remaining portions will remain in full force and effect. A waiver by either party of any term or condition of this Agreement or any breach thereof, in any one instance, will not waive such term or condition or any subsequent breach thereof.</p>

		<p>You may assign your rights under this Agreement to any party that consents to, and agrees to be bound by, its terms and conditions; DriverFlex may assign its rights under this Agreement without condition. This Agreement will be binding upon and will inure to the benefit of the parties, their successors and permitted assigns.</p>
	</div>
</div>
