@import "global.scss";


/* shared/_sidebar */

.devise-sidebar {
	position: relative;
	height: 100%;
	width: 30%;
	overflow-x: hidden;
	float: left;

	.logo {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		margin: 20px 40px;
	}

	img {
		position: relative;
		height: 100%;
		z-index: 0;
	}
}

@media only screen and (max-width: 736px) {
	.devise-sidebar {
		display: none;
	}
}


/*
	registrations/new
	sessions/new
*/

#registrations-new, #sessions-new {
	height: 100%;

	#signup-container, #signin-container {
		float: left;
  	width: 70%;

  	form {
  		margin: 60px auto;
  		width: 80%;

  		.form-text {
	  		h2 {
	  			color: #323338;
		  		font-weight: 600;
		  		font-size: 24px;
		  		margin-top: 0;
		  		margin-bottom: 10px;
	  		}
  		}

  		.form-inputs {
  			margin-top: 50px;	

  			.input {
  				margin-bottom: 20px;
		  		float: left;
		  		width: 100%;

		  		label {
		  			display: block;
		  			color: #323338;
		  			font-weight: 700;
		  			font-size: 12px;
		  			margin-bottom: 10px;
		  		}

		  		.hint, .error{
						font-size: 11px;
						margin-top: 3px;
					}

					.hint {
						color: #7D868F;
					}

					.error {
						color: $error;
					}
  			}

  			.field_with_errors {
		  		input {
		  			border: 1px solid $error;
		  		}

	  			.hint {
	  				display: none;
	  			}
	  		}
  		}

  		.form-actions {
	  		button {
		  		width: 100%;

		  		svg {
		  			@include scale(1.5);
		  			display: inline-block;
		  			height: 15px;
		  			margin-bottom: -5px;
		  			margin-left: 5px;
		  		}
		  	}
	  	}
  	}
	}
}

@media only screen and (max-width: 736px) {
	#registrations-new, #sessions-new {
		height: auto !important;

		#signup-container, #signin-container {
			width: 100% !important;

			form {
				width: 100%;
				margin-top: 0;
				margin-bottom: 20px;

				.form-text {
					width: 100%;
					padding: 90px 0 50px 0;
					margin-top: -50px;
					background: url(driver.jpg) no-repeat center center;
				  -webkit-background-size: cover;
				  -moz-background-size: cover;
				  -o-background-size: cover;
				  background-180size: cover;
				  text-align: center;


				  h2 {
				  	color: white;
				  }

				  h4 {
				  	color: rgba(255,255,255,0.75);
				  }
				}

				.form-inputs {
					padding: 0 15px;
					margin: 20px 0;
				}

				.form-actions {
					padding: 0 15px;
				}
			}
		}
	}
}


/* registrations/new */

#registrations-new {
  #signup-container {
  	form {
	  	h4 {
	  		color: #7D868F;
	  		font-weight: 400;
	  		font-size: 14px;
	  		margin: 0;
	  	}

	  	.form-inputs {
		  	.user_first_name, .user_last_name {
		  		@include calc(width, "50% - 10px");
		  	}

		  	.user_first_name {
		  		margin-right: 10px;
		  	}

		  	.user_last_name {
		  		margin-left: 10px;
		  	}

	  		.radio {
		  		display: inline-block;
		  		margin-right: 40px;

		  		label {
		  			font-size: 13px;
		  			color: #323338;
		  			font-weight: 400;

		  			input {
		  				margin-top: 3px;
		  			}
		  		}
		  	}
	  	}
  	}
  }
}


/* sessions/new */

#sessions-new {
	height: 100%;

	#signin-container {
		float: left;
		width: 70%;

		form {

		}
	}
}
