@import "shared.scss";


/* layouts/application */

html, body {
	position: relative;
	height: 100%;
}


/* layouts/_header */

#header {
	position: relative;
	z-index: 1;
	padding-top: 20px;
	padding-bottom: 20px;

	.container {
		#logo {
			font-family: 'HelveticaNeue-CondensedBlack';
  		font-size: 20px;
  		color: white;

  		&:active {
  			color: darken(white, 15%);
  		}
		}

		.actions {
			float: right;
			margin-top: 5px;

			a {
				color: white;
				font-size: 12px;
				margin-left: 40px;

				svg {
					height: 20px;
					margin-bottom: -7px;
				}

				&:active {
					color: rgba(255,255,255,0.7);

					 svg {
					 	fill: darken(white, 15%);
					 }
				}
			}
		}
	}
}


/* layouts/_flash */

.flash {
	position: relative;
	z-index: 2;
	padding: 10px 20px;
	font-weight: 600;
	font-size: 12px;

	&.error {
		background: $error;
		color: white;
	}

	&.notice {
		background: $primary;
		color: white;
	}
}


/* layouts/_footer */

#footer {
	background: $secondary;
	overflow: auto;
	padding: 40px 0;

	.container {
		ul.actions {
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				margin-right: 40px;
				float: left;

				&:last-child {
					margin-right: 0;
				}

				a {
					color: darken(white, 15%);
					text-transform: uppercase;
	  			letter-spacing: 0.3px;
	  			font-size: 11px;
	  			font-weight: 800;

	  			&:hover {
	  				color: white;
	  			}

	  			&:active {
						color: darken(white, 15%);
					}
				}
			}
		}

		.incorporated {
			float: right;

			a {
				color: rgba(255,255,255,0.7);
				text-transform: uppercase;
  			letter-spacing: 0.3px;
  			font-size: 11px;
  			font-weight: 800;

  			&:hover {
  				color: white;
  			}

  			&:active {
					color: rgba(255,255,255,0.7);
				}
			}
		}
	}
}
