@import "shared.scss";


/* pages/home */

#pages-home {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 0;

	#intro {
		background: url(car.jpg) no-repeat center center;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  
	  .container {
	  	padding-top: 180px;
	   	padding-bottom: 180px;

	  	.tagline, .description {
	  		max-width: 500px;
	  	}

	  	.tagline {
	  		font-size: 26px;
	  		color: white;
	  	}

	  	.description {
	  		font-size: 14px;
	  		line-height: 25px;
	  		color: rgba(255,255,255,0.75);
	  		margin-top: 20px;
	  	}

	  	.actions {
	  		margin-top: 60px;

	  		a {
	  			text-transform: uppercase;
	  			letter-spacing: 0.3px;
	  			font-size: 12px;
	  			font-weight: 600;
	  			margin-right: 10px;

	  			svg {
	  				height: 20px;
	  				margin-right: 10px;
	  				margin-bottom: -7px;
	  			}
	  		}
	  	}

	  	.pricing {
	  		margin-top: 20px;
	  		font-size: 11px;
	  		color: rgba(255,255,255,0.75);
	  		width: 188px;
	  		text-align: center;
	  	}
	  }
	}

	#checkpoints {
		.container {
			padding-top: 50px;
			padding-bottom: 45px;

			ul {
				list-style: none;
				display: flex;
    		justify-content: space-between;
    		padding: 0;

				li {
					svg {
						height: 24px;
						margin-right: 10px;
						margin-bottom: -10px;
					}

					.text {
						color: #7D868F;
						font-size: 12px;
					}
				}
			}
		}
	}

	#how-it-works {
		background: #F7F9FC;

		.container {
			padding-top: 80px;
			padding-bottom: 80px;

			ul {
				list-style: none;
    		padding: 0;

    		li {
    			@include calc(width, "100%/3 - 140px/3");
    			margin-right: 70px;
    			float: left;

    			&:last-child {
    				margin-right: 0px;
    			}

    			&#signup-section {
    				svg {
    					width: 23px;
    					margin-top: 8px;
    					margin-right: -3px;
    				}
    			}

    			&#inspect-section {
    				svg {
    					width: 23px;
    					margin-top: 3px;
    					margin-right: -1px;
    				}
    			}

    			&#cash-section {
    				svg {
    					width: 22px;
    					margin-top: 8px;
    				}
    			}

    			.svg-wrapper {
    				@include border-radius(50%);
    				width: 40px;
    				height: 40px;
    				background: #C5F2C1;
    				text-align: center;
    			}

    			.title {
    				text-transform: uppercase;
		  			letter-spacing: 0.3px;
		  			font-size: 12px;
		  			font-weight: 800;
		  			color: $primary;
		  			margin: 15px 0;
    			}

    			.description {
    				color: #7D868F;
    				font-size: 12px;
    				line-height: 24px;
    			}
    		}
			}
		}
	}

	#recommendations {

	}
}
