@import "global.scss";


/* _logo */

.logo {
	font-family: 'HelveticaNeue-CondensedBold';
	font-size: 20px;
	color: white;

	&:hover {
		color: white;
	}

	&:focus {
		color: white;
	}

	&:active {
		color: darken(white, 15%);
	}

	&:hover, &:active, &:focus {
		text-decoration: none;
	}
}
