<div id="footer">
	<div class="container">
		<ul class="actions">
			<li><%= link_to "Terms And Conditions", "" %></li>
			<li><%= link_to "Privacy Policy", "" %></li>
			<li><%= link_to "Contact", "" %></li>
		</ul>

		<div class="incorporated">
			<%= link_to "© DriverFlex #{Time.current.year}", root_path %>
		</div>
	</div>
</div>
